@font-face 
{
    font-family: QuickSand;
    src: url('./regular/quicksand-regular.eot');
    src: url('./regular/quicksand-regular.eot?#iefix') format('embedded-opentype'),
         url('./regular/quicksand-regular.woff2') format('woff2'),
         url('./regular/quicksand-regular.woff') format('woff'),
         url('./regular/quicksand-regular.ttf') format('truetype'),
         url('./regular/quicksand-regular.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: QuickSandBold;
    src: url('./bold/quicksand-bold.eot');
    src: url('./bold/quicksand-bold.eot?#iefix') format('embedded-opentype'),
         url('./bold/quicksand-bold.woff2') format('woff2'),
         url('./bold/quicksand-bold.woff') format('woff'),
         url('./bold/quicksand-bold.ttf') format('truetype'),
         url('./bold/quicksand-bold.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;
}