html {
    font-family: QuickSand, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3 {
    font-weight: 400;
}

a:visited {
    color: #0F4889;
}

a {
    color: #2D84E8;
    text-decoration: none;
}

/* BODY */

.bodyLight {
    color: #1A1A1A;
    background-color: #F8F8F8;
}

.bodyLight a:visited {
    color: #B7D5F7;
}

.bodyLight .itemSeparator {
    border-image: radial-gradient(#1A1A1A 20%, #F8F8F8 75%) 1;
}

.bodyDark {
    color: #F8F8F8;
    background-color: #1A1A1A;
}

#container {
    min-height: 100%;
    position: relative;
    text-align: center;
}

/* HEADER */

header {
    width: 100%;
    margin: 0 0 50px;
}

header h1 {
    display: inline-block;
    font-size: 3rem;
    margin: 0.67em 0 0.1em;
}

.switchToLight {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #F8F8F8;
    border-color: #1A1A1A;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
}

.switchToDark {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #1A1A1A;
    border-color: #F8F8F8;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
}

/* MAIN CONTENT */

#main {
    padding-bottom: 75px; /* Height of the footer + extra padding */
    width: 80%;
    margin: 0 auto;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.itemSeparator {
    margin: 25px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-image: radial-gradient(#F8F8F8 20%, #1A1A1A 75%) 1;
}

.reportTitleTag {
    font-family: QuickSandBold;
}

.report {
    padding: 0px 5%;
}

.reportHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.statName {
    font-family: QuickSandBold;
}

.reportTitle {
    display: inline;
    text-align: left;
    margin: 0;
}

.reportScore {
    display: inline;
    text-align: right;
}

.reportStatsContainer {
    display: flex;
    justify-content: space-between;
}


/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* Height of the footer */
}

#footerContainer {
    width: 80%;
    margin: 0 auto;
    font-family: QuickSandBold,sans-serif;
    font-size: 0.75rem;
}

.runningAt {
    float: left;
}

.builtBy {
    float: right;
}
